html {
    font-size:1.0em;
    position: relative;
    min-height: 100%;
    min-width:100%;
  }

  body {
    margin-bottom: 110px; /* Margin bottom by footer height */
    font-family: 'Cormorant Garamond', serif;
    background:url('../images/scroll.jpg');
    /* min-height:100vh; */
  }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px; /* Set the fixed height of the footer here */
    background:url('../images/headerbg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:inherit;
    border-top:7px solid #f8ce59;
  }



#header{
    background:url('../images/headerbg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    padding:9px;
    color:#fff;
    text-align:center;
    margin-bottom:20px;
    border-bottom:7px solid #f8ce59;
}

h1{
    margin:0;
}

.titleImg{
    padding:0;
    margin:0px auto;
}

/* #title{
    background:url('../images/title.png');
    background-repeat: no-repeat;
    background-position:center;
} */

.contentContainer{
    border: 1px solid #ddd;
    border-radius:5px;
    margin-bottom:20px;
}

.contentContainer h5{
    padding:10px;
    background:#761811;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    color:#ffd659;
    margin: auto;
    padding-left:15px;
    font-weight:bold;
    font-size:1.5em;
}

.insideContainer{
    padding:20px;
    background:#F9F9F9;
    overflow-x:auto;
}

/* .addEmployee{
    margin-bottom:20px
} */

h3{
    font-weight:normal;
}

label, th{
    font-weight:bold;
    font-size:1.4em;
}

.btn{
    font-size:1.3em;
    background: #761811;
    color:#ffd659;
}

/* input{
    font-family:Georgia, 'Times New Roman', Times, serif;
} */

::placeholder{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#ddd;
}

@media (max-width:576px){

    .titleImg{
        padding:10px;
        }

        th{
            font-weight:bold;
            font-size:1.0em;
        }
  
}


@media (max-width:768px){

    .container {
        max-width: 640px;
    }

  
}

@media (max-width:992px){

    .titleImg{
        padding:10px;
        }

        th{
            font-weight:bold;
            font-size:1.0em;
        }
  
}